{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title_block %} TensorArk {% endblock  %}

{% block page_title_block %} TensorArk {% endblock %}

{% block css_block %}

    <link rel="stylesheet" href="{% static 'assets/css/lib/chosen/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lib/datatable/dataTables.bootstrap.min.css' %}">

    <style>
        #result_area {
            resize: none;
        }
    </style>

{% endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">
                        Neural Network Design
                    </strong>
                </div>
                <div class="card-body">
                    <form role="form" method="POST"> {% csrf_token %}
                        <div class="form-group">
                            <label for="num_hid_layers" class="control-label mb-1">
                                Number of layers for the network
                            </label>
                            <input id="num_hid_layers" type="number" class="form-control"
                            aria-required="true" aria-invalid="false">
                        </div>
                        <div class="form-group">
                            <label for="num_epoch" class="control-label mb-1">
                                Number of epochs
                            </label>
                            <input id="num_epoch" type="number" class="form-control"
                            aria-required="true" aria-invalid="false">
                        </div>
                        <div class="form-group">
                            <label for="act_func_op" class="control-label mb-1">
                                Activation functions
                            </label>
                            <select id="act_func_op" class="standardSelect"
                            data-placeholder="Choose an activation function..." tabindex="1">
                                <option value=""></option>
                                <option value="relu">Rectified Linear Unit</option>
                                <option value="sigmoid">Sigmoid</option>
                                <option value="tanh">Hiperbolic Tangent</option>
                                <option value="elu">Exponential Linear Unit</option>
                            </select>
                        </div>
                    </form>
                    <div class="row">
                            <div class="col-md-4 offset-md-2">
                                <button type="button" id="add_nodes" class="btn btn-info">
                                    Add nodes
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" id="train_button" class="btn btn-info" disabled>
                                    Train network
                                </button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Set the nodes for each layer</strong>
                </div>
                <div class="card-body">
                    <table id="node-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Layer</th>
                                    <th>Number of nodes</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Layer</th>
                                    <th>Number of nodes</th>
                                </tr>
                            </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label class="form-control-label" for="result_area"> Results </label>
        </div>
        <div class="col-md-10">
            <textarea class="form-control" id="result_area" rows="3" placeholder="Accuracy of the network"
            readonly></textarea>
        </div>
    </div>
{% endblock %}

{% block js_block %}

    <!-- Datatable scripts -->

    <script src="{% static 'assets/js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/datatables-init.js' %}"></script>

    <script src="{% static 'assets/js/lib/chosen/chosen.jquery.min.js' %}"></script>



    <script>
        jQuery(document).ready(function() {
            jQuery(".standardSelect").chosen({
                disable_search_threshold: 0,
                no_results_text: "Oops, nothing found!",
                width: "100%"
            });

            $("#node-table").DataTable();
        });
    </script>

    <script>

        var table = $("#node-table").DataTable();

        function clear_fields(){
            $('#num_hid_layers').val("");
            $('#num_epoch').val("");
        }

        $('#train_button').on('click', function () {
            var activation_function = $('#act_func_op option:selected').text();
            var num_hidden_layers = $('#num_hid_layers').val();
            var number_epochs = $('#num_epoch').val();
            var data_from_table = table.$("input").serializeArray();
            var nodes = [];

            for (let j = 0; j < num_hidden_layers; j++){
                nodes.push(data_from_table[j].value);
            }

            if(num_hidden_layers == "" || number_epochs == "" || activation_function == ""){
                alert("Please, fill all fields");
            }else{

                $('#train_button').attr('disabled', true);
                $('#num_hid_layers').attr('disabled', true);
                $('#num_nodes').attr('disabled', true);
                $('#num_epoch').attr('disabled', true);
                $('#act_func_op_chosen').attr('disabled', 'disabled');

                $.ajax({
                    data:{'layers': num_hidden_layers, 'nodes': JSON.stringify(nodes) ,'epochs': number_epochs,
                        'act_func': activation_function},
                    url:"{% url 'execute_nn_training' %}",
                    success: function (data) {
                        var json = JSON.parse(data);
                        $('#result_area').val("Accuracy: " + json.net_accuracy + "%");
                    },
                    dataType: "json",
                    error: function () {
                        alert("There was an error in the server");
                    }
                });
            }
        });

        $('#add_nodes').on('click', function () {
            var layers = $('#num_hid_layers').val();
            var row_id = '';

            if(layers == ''){
                alert("Please specify a number of layers");
            }
            else if(layers == 0){
                alert("Please enter at least one layer");
            }
            else{
                $('#train_button').prop('disabled', false);

                for (let i = 0; i < layers; i++){
                    row_id = 'row-layer-' + (i + 1);
                    table.row.add([(i + 1), "<input type='number' id='" + row_id + "'" + " name='" + row_id
                                    + "'" + " value=''>"]).draw();
                }
            }
        });

    </script>
{% endblock %}