{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title_block %} TensorArk {% endblock  %}

{% block page_title_block %} TensorArk {% endblock %}

{% block css_block %}

    <link rel="stylesheet" href="{% static 'assets/css/lib/datatable/dataTables.bootstrap.min.css' %}">

{% endblock %}

{% block body_block %}
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">
                    Upload your model
                </strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="col col-md-3">
                        <label for="file_input" class=" form-control-label">File input</label>
                    </div>
                    <div class="col-12 col-md-7">
                        <input type="file" id="file_input" name="fileinp" class="form-control-file">
                    </div>
                    <div class="col-md-2">
                        <button type="button" id="upload_file_btn" class="btn btn-info">
                            <i class="ti-upload"></i></button>
                    </div>
                    <div class="col-md-2" id="upload_gif">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Structure of your neural network</strong>
            </div>
            <div class="card-body">
                <div class="col-lg-12" id="num-layers"></div>
                <div class="col-lg-12" id="input-layer"></div>
                <div class="col-lg-12">
                    <table id="nn-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Layer</th>
                                    <th>Number of nodes</th>
                                    <th>Activation function</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Layer</th>
                                    <th>Number of nodes</th>
                                    <th>Activation function</th>
                                </tr>
                            </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_block %}

    <!-- Datatable scripts -->

    <script src="{% static 'assets/js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/datatables-init.js' %}"></script>

    <script src="{% static 'assets/js/lib/chosen/chosen.jquery.min.js' %}"></script>

    <script>
    let table = $('#nn-table').DataTable();

    function upload_image_train() {
            const upload_file_button = $("#upload_file_btn");
            upload_file_button.prop('disabled', true);
            upload_file_button.hide();
            $('#upload_gif').html('<div class="offset-md-4">' +
                    '<img id="loading_image" class="icon-loading" ' +
                    'src="{% static 'gif/Rolling-2s-200px.gif' %}" tabindex="1"/></div>');
    }

    $('#upload_file_btn').on('click', function () {
            const file_input = $('#file_input');
            if (file_input[0].files.length > 0) {
                let img_form_data = new FormData();
                img_form_data.append("file", file_input[0].files[0]);
                img_form_data.append("action", "lm");
                upload_image_train();

                $.ajaxSetup({
                     beforeSend: function(xhr, settings) {
                         function getCookie(name) {
                             let cookieValue = null;
                             if (document.cookie && document.cookie !== '') {
                                 let cookies = document.cookie.split(';');
                                 for (let i = 0; i < cookies.length; i++) {
                                     let cookie = jQuery.trim(cookies[i]);
                                     // Does this cookie string begin with the name we want?
                                     if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                         break;
                                     }
                                 }
                             }
                             return cookieValue;
                         }
                         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                             // Only send the token to relative URLs i.e. locally.
                             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                         }
                     }
                });

                $.ajax({
                        type: "POST",
                        url:"{% url 'load_model' %}",
                        data: img_form_data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            const upload_gif = $("#upload_gif");
                            let json = JSON.parse(data);
                            let dir_name = json.img_set_name;
                            let hid_layers = json.hidden_layers;
                            let out_layer = json.output_layer;
                            upload_gif.html('');
                            upload_gif.html('<div class="offset-md-4"><i style="color:green;" ' +
                                'class="ti-check"></i></div>');
                            $('#num-layers').html('<strong> Number of layers: </strong>' + json.num_layers);
                            $('#input-layer').html('<strong> Input layer batch size: </strong>' +
                                json.input_layer[0] + 'x' + json.input_layer[1] + '<br><br>');
                            //Info about hidden layers is added to the datatable
                            for(let i = 0; i < hid_layers.length; i++){
                                table.row.add(
                                    ['Hidden layer ' + (i + 1), hid_layers[i][0], hid_layers[i][1]]
                                ).draw();
                            }
                            //Info about output layer is added to the datatable
                            table.row.add(
                                ['Output layer', out_layer[0], out_layer[1]]
                            ).draw()

                        },
                        error: function () {
                            alert("Something went wrong");
                        }
                    });
            }else {
                alert("Upload a model");
            }
        });

    </script>

{% endblock %}